body {
    background-color: #9AFE2E;
    font-family: 'Quattrocento', serif;
    font-size: 18px;
    min-height: 100%;

}

h1 {
    text-align: center;
    padding-top: 70px;
    font-size: 55px;
    text-shadow: 1px 1px 4px rgb(9, 30, 45);

}

h2 {
    text-align: center;
    padding-top: 20px;
    font-size: 30px;

}

.soustitre {
  font-size: 40px;
  padding-top: 50px;
  padding-bottom: 20px;

}

#footer {

  display: inline-block;
  width: 1500px;
  height: 100px;
  text-align: center;
}


#left-box {
    background-color: rgb(9, 30, 45);
    float: left;
    width: 15%;
    border-radius: 30px;
    margin-left: 20px;
    margin-top: 80px;
    box-shadow: 2px 2px 15px rgb(9, 30, 45);

}

.photo {
    text-align: center;
    padding-top: 30px;
}

.jpg{
  border-radius: 30px;
  border: 3px solid #D0EAF7;
}

.profil {
    color: white;
    text-align: center;
    padding: 10% 5% 5% 5%;
    line-height: 30px;
}

.info_perso {
    color: white;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 15%;
    line-height: 30px;
}

.langues_étrangères {
    color: white;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 15%;
    line-height: 30px;
}

.loisirs {
    color: white;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 15%;
    line-height: 30px;
}

#right-box {
    background-color: rgb(9, 30, 45);
    border-radius: 30px;
    width: 80%;
    float: right;
    margin-right: 20px;
    margin-top: 80px;
    margin-bottom: 70px;
    padding-bottom: 20px;
    box-shadow: 2px 2px 15px rgb(9, 30, 45);
}

#experiences-box {
    background-color: white;
    border-radius: 30px;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 10px;
  }

.experience {
  background-color: #D0EAF7;
  border-radius: 30px;
  margin-right: 15px;
  margin-left: 15px;
  box-shadow: 1px 1px 10px rgb(9, 30, 45);
}

.ColorDay {
text-align: center;
padding-bottom: 2%;

}

.TDF{
  text-align: center;
  padding-bottom: 2%;

}

.stage{
  text-align: center;
  padding-bottom: 2%;

}
#studies-box {
    background-color: white;
    border-radius: 30px;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 10px;
}

.study {
    background-color: #D0EAF7;
    border-radius: 30px;
    margin-right: 15px;
    margin-left: 15px;
    box-shadow: 1px 1px 10px rgb(9, 30, 45);
}

.MESC {
    text-align: center;
    padding-bottom: 2%;

}

.STAPS {
    text-align: center;
    padding-bottom: 2%;

}

.BAC {
    text-align: center;
    padding-bottom: 2%;

}
